##
## Velocity Template for SAML 2 HTTP-POST binding 
## Customized for SSO logout notification
##
## Velocity context may contain the following properties
##
## OpenSAML:
## action - String - the action URL for the form
## binding - String - the SAML binding type in use
## RelayState - String - the relay state for the message
## SAMLRequest - String - the Base64 encoded SAML Request
## SAMLResponse - String - the Base64 encoded SAML Response
##
## XTBHttpMethod: HTTP method to use (default: post)
##
## XTBSloConsoleDebug - boolean - enable console.debug logging
##
## SLO:
## XTBSloNotifications - Set<SloNotification> - URLs for SSO
## XTBSloMaxWaitMillis - int - timeout in millis for mode notify-fail
## XTBSloMinWaitMillis - int - minimum wait in millis (for mode notify-try)
## XTBSloWaitForCount - int - count of notifications to wait for i.e. mode notify-fail
##
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
    #parse ( "/templates/add-html-head-content.vm" )
    #parse ( "/templates/SLO-Notifications.vm" )
    </head>
    <body onload="performSlo()">
        <noscript>
            <p>
                <strong>Note:</strong> Since your browser does not support JavaScript,
                you must press the Continue button once to proceed.
            </p>
        </noscript>
        
        <form name="saml.result" action="${action}" #if($XTBHttpMethod)method="${XTBHttpMethod}"#{else}method="post"#end">
            <div>
                #if($RelayState)<input type="hidden" name="RelayState" value="${RelayState}"/>#end
                
                #if($SAMLRequest)<input type="hidden" name="SAMLRequest" value="${SAMLRequest}"/>#end
                
                #if($SAMLResponse)<input type="hidden" name="SAMLResponse" value="${SAMLResponse}"/>#end
                
            </div>
            <noscript>
                <div>
                    <input type="submit" value="Continue"/>
                </div>
            </noscript>
        </form>
        <div id="slo"></div>
        #parse ( "/templates/add-html-body-content.vm" )
    </body>
</html>
