
body {
	font-family: Frutiger Neue,Roboto,Arial,system-ui,-apple-system,BlinkMacSystemFont,sans-serif;
}

.skinnyH1 {
	margin: 20px;
}

.skinnyH2List {
	margin-left: 60px;
	font-size: large;
}

.skinnyH2Tile {
	margin-left: 20px;
	font-size: large;
}

.skinnyContainer {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.skinnyContainer a {
	color: inherit;
}

.skinnyContainerList {
	display: block;
}

.skinnyContainerTile {
	display: flex;
	flex-wrap: wrap;
}

.skinnyCard {
	margin: 20px;
	border: 1px solid #CCC8C8;
	cursor: pointer;
	position: relative;
}

.skinnyCardList {
	width: 80%;
}

.skinnyCardTile {
	width: 30%;
	border-radius: 4px;
	box-shadow: 0 1px 3px #0003,0 2px 1px #0000001f,0 1px 1px #00000024 !important;
}

.skinnyButton {
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 50px;
	text-align: center;
}

.skinnyButtonRed {
	background-color: #FF0000;
}

.skinnyImage {
	border-bottom: 1px solid #CCC8C8;
	width: 100%;
	max-height: 240px;
}

.buttonText {
	display: inline-block;
	padding-top: 16px;
}

.skinnyVersionInfo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-size: 12px;
}

